<mat-dialog-content>
    <h1>Edit Account Details</h1>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [value]="account.getAccountInfo().username" #username>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" #password>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" (click)="account.modAccount(username.value, password.value)">Submit</button>
    <button mat-raised-button mat-dialog-close color="warn" (click)="pantry.deleteAccount(account.getAccountInfo())">Delete Account</button>
</mat-dialog-actions>