<mat-dialog-content>
    <form action="">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput #username>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput #password>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" (click)="account.add(username.value, password.value)">Register</button>
</mat-dialog-actions>
