<div class="green-gradient">
    <section>
        <h1>Pantry Items</h1>
        <div class="flex-container">
            <div class="mat-card-container">
                <mat-card *ngIf="account.getAccountInfo().id !== null" (click)="openAdd()" class="click-card">
                    <div class="add-icon">
                        <mat-icon [inline]="true" color="primary">add</mat-icon>
                    </div>
                </mat-card>
            </div>
            <div class="mat-card-container" *ngFor="let item of pantry.getPantry()">
                <mat-card class="example-card" matBadge="{{item.quantity}}" matBadgeOverlap="true"
                    matBadgePosition="before" [matBadgeColor]="item.quantity ? 'primary' : 'warn'"
                    [style]="'background-image: url(' +item.image+ '); opacity:' +outOfStockStyle(item.quantity)+ ';'">
                    <div class="dark-overlay">
                        <mat-card-header>
                            <mat-card-title>{{item.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <ul>
                                <li>{{item.weight}} oz. each</li>
                                <li>{{item.calories}} calories</li>
                            </ul>
                        </mat-card-content>
                    </div>
                </mat-card>
                <div class="card-buttons">
                    <button mat-icon-button color="primary" (click)="openEdit(item)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="primary" (click)="pantry.incrementItem(item, true)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="pantry.incrementItem(item, false)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </section>
</div>