<mat-dialog-content>
    <h1>Add a new pantry</h1>
    <!-- Name step -->
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="modifiedPantry.name">
    </mat-form-field>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Add Members</mat-label>
            <input type="text" placeholder="Search for a user" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of allAccounts" [value]="option.username">
                    {{option.username}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-icon-button color="primary"
            (click)="addMember(allAccounts[0])" [disabled]="allAccounts.length !== 1"><mat-icon>add_circle</mat-icon></button>
    </div>

    <table>
        <tr><td>Members</td></tr>
        <tr *ngFor="let m of modifiedPantry.members">
            <td>{{m.username}}</td>
            <td><button mat-icon-button color="warn" (click)="removeMember(m)"><mat-icon>cancel</mat-icon></button></td>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary"
        (click)="pantry.addPantry(modifiedPantry)">Submit</button>
    <!-- <button mat-raised-button mat-dialog-close color="warn" (click)="pantry.deletePantry(clickedPantry.id)">Delete
        Recipe</button> -->
</mat-dialog-actions>
