<!-- navbar -->
<mat-toolbar class="green-gradient">
    <!-- menu to switch between views -->
    <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="this.account.getView() === 'welcome'"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="account.setView('all')">Show All</button>
        <button mat-menu-item (click)="account.setView('recipes')">Show Recipes</button>
        <button mat-menu-item (click)="account.setView('pantry')">Show Pantry</button>
        <button mat-menu-item *ngIf="account.getAccountInfo().id !== null" aria-label="Grocery List" (click)="openList()">Show Grocery List</button>
    </mat-menu>

    <span>coopereat</span>
    <span class="example-spacer"></span>
    <!-- grocery list dialog button -->
    <button mat-button *ngIf="account.getAccountInfo().id !== null" aria-label="Grocery List" (click)="openList()">Grocery List</button>
    <!-- trigger for dropdown -->
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" color="{{account.getAccountInfo().id ? 'accent' : null}}">
        <mat-icon>person</mat-icon>
    </button>
    <!-- dropdown -->
    <mat-menu #accountMenu="matMenu">
        <!-- login -->
        <button *ngIf="account.getAccountInfo().id === null" mat-menu-item (click)="openLogin()">Log In</button>
        <!-- register -->
        <button *ngIf="account.getAccountInfo().id === null" mat-menu-item (click)="openRegister()">Register</button>
        <!-- edit/delete account -->
        <button *ngIf="account.getAccountInfo().id !== null" mat-menu-item
            (click)="openAccount()">{{account.getAccountInfo().username}}</button>
        <!-- logout -->
        <button *ngIf="account.getAccountInfo().id !== null" mat-menu-item (click)="account.logout()">
            <mat-icon>exit_to_app</mat-icon>
            Log Out
        </button>
    </mat-menu>
</mat-toolbar>