img {
    max-width: 400px;
}

mat-form-field {
    width: 100px;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding-left: 50px;
    padding-right: 50px;
}