<mat-dialog-content>
    <h1>{{recipe.name}}</h1>
    <img src="{{recipe.image}}" alt="Photo of {{recipe.name}}">
    <h2>Ingredients</h2>
    <ul>
        <!-- multiplied by selected number of batches -->
        <li *ngFor="let ingredient of multipleRecipe.ingredients" [style.color]="enoughOfItem(ingredient) ? 'black' : 'red'">
            {{ingredient.item.name}}: {{ingredient.weight}}
            ({{ingredient.weight * ingredient.item.weight}} oz. total)</li>
    </ul>
    <h2>Total Calories</h2>
    <ul>
        <li>{{sumItemCalories()}}</li>
    </ul>
    <h2>Steps</h2>
    <ol>
        <li *ngFor="let step of recipe.steps">{{step}}</li>
    </ol>
</mat-dialog-content>
<mat-dialog-actions>
    <mat-form-field class="quantity">
        <mat-label>Batches</mat-label>
        <!-- input to multiply recipe -->
        <input matInput value="1" min="1" type="number" (change)="multiplyRecipe(multiple.value); checkPantry();" #multiple>
    </mat-form-field>
    <button *ngIf="!enoughIngredients" mat-raised-button color="accent" (click)="requestItems(); requestButton.disabled= true;" #requestButton>Request Items</button>
    <button *ngIf="enoughIngredients" mat-raised-button color="primary" (click)="pantry.takeItems(multipleRecipe); makeButton.disabled= true;" #makeButton>Make Recipe</button>
</mat-dialog-actions>