<mat-dialog-content>
    <h1>{{recipe.name}}</h1>
    <img src="{{recipe.image}}" alt="Photo of {{recipe.name}}">
    <h2>Ingredients</h2>
    <ul>
        <!-- multiplied by selected number of batches -->
        <li *ngFor="let ingredient of multipleRecipe.ingredients" [style.color]="ingredientColor(ingredient)">
            {{ingredient.item.name}}: {{ingredient.weight}}
            ({{ingredient.weight * ingredient.item.weight}} oz. total)</li>
    </ul>
    <h2>Total Calories</h2>
    <ul>
        <li>{{sumItemCalories()}}</li>
    </ul>
    <h2>Steps</h2>
    <ol>
        <li *ngFor="let step of recipe.steps">{{step}}</li>
    </ol>
</mat-dialog-content>
<mat-dialog-actions>
    <mat-form-field>
        <mat-label>Batches</mat-label>
        <!-- input to multiply recipe -->
        <input matInput value="1" min="1" type="number" (change)="multiplyRecipe(multiple.value); checkPantry()" #multiple>
    </mat-form-field>
    <!-- disables after clicking, or if ingredients are not available in the pantry -->
    <button mat-raised-button color="primary" (click)="pantry.takeItems(multipleRecipe); disabledState = true;"
        [disabled]="disabledState">{{submitButtonText}}</button>
</mat-dialog-actions>