<mat-dialog-content>
    <h1>{{recipe.name}}</h1>
    <img src="{{recipe.image}}" alt="Photo of {{recipe.name}}">
    <h2>Ingredients</h2>
    <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.item.name}}: {{ingredient.weight}} ({{ingredient.weight * ingredient.item.weight}} oz. total)</li>
    </ul>
    <h2>Total Calories</h2>
    <ul>
        <li>{{sumItemCalories()}}</li>
    </ul>
    <h2>Steps</h2>
    <ol>
        <li *ngFor="let step of recipe.steps">{{step}}</li>
    </ol>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="pantry.takeItems(recipe); submit.disabled = true;" #submit>Make Recipe</button>
</mat-dialog-actions>