<!-- Popup for creating a recipe with steps for each required property -->
<mat-dialog-content>
    <h1>Editing {{recipe.name}} recipe</h1>
    <!-- Name step -->
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="nameFormGroup">
            <form [formGroup]="nameFormGroup">
                <ng-template matStepLabel>Edit the recipe name</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Alaskan Bull Worm" formControlName="firstCtrl" required #name>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- Image step -->
        <mat-step [stepControl]="imageFormGroup">
            <form [formGroup]="imageFormGroup">
                <ng-template matStepLabel><a href="https://www.google.com/search?q={{name.value}}&tbm=isch" target="_blank">Edit image address (click me)</a></ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="secondCtrl"
                        placeholder="https://upload.wikimedia.org/wikipedia/commons/0/0f/Hungarian_goulash_soup.jpg"
                        required #image>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- Ingredients step -->
        <mat-step [stepControl]="ingredientsFormGroup">
            <form [formGroup]="ingredientsFormGroup">
                <ng-template matStepLabel>Edit ingredients</ng-template>
                <mat-form-field *ngFor="let ingredient of ingredients" appearance="outline">
                    <mat-label>{{ingredient.item.name}}</mat-label>
                    <input matInput type="number" min="0" formControlName="{{ingredient.item.name}}">
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- Recipe steps  step -->
        <mat-step [stepControl]="stepsFormGroup">
            <form [formGroup]="stepsFormGroup">
                <ng-template matStepLabel>Edit steps</ng-template>
                <mat-form-field formArrayName="steps" *ngFor="let alias of steps.controls; let i = index" appearance="fill" class="step-input">
                    <mat-label>Step {{i + 1}}</mat-label>
                    <textarea matInput [formControlName]="i"></textarea>
                </mat-form-field>
                <div>
                    <button mat-icon-button color="accent" (click)="addStep('')"><mat-icon>add</mat-icon></button>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- Submission step -->
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>Click submit to add your recipe.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="!nameFormGroup.valid || !imageFormGroup.valid || !ingredientsFormGroup.valid" (click)="account.modRecipe(
        recipe.id,
        name.value, 
        image.value, 
        filterIngredients(),
        filterSteps()
        )">Submit</button>
</mat-dialog-actions>
