/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
    margin: 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

mat-card {
    margin-right: 1rem;
}

.add-card {
    width: 130px;
}

.add-icon {
    font-size: 50px;
    margin: auto;
}

.add-card:hover {
    background-color: lightgray;
    cursor: pointer;
}

.example-header-image {
    background-size: cover;
    margin: 0 !important;
}