/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
    margin: 0 2rem;
    padding-top: .01rem;
}
/* background color gradient */
.green-gradient {
    background-image: linear-gradient(to right, rgb(228, 255, 226), rgb(255, 231, 161)) !important;
    margin: 0;
}

/* flex container to arrange recipe and item cards */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

mat-card {
    background-size: cover;
    color: white;
    margin: 1rem;
}

.dark-header {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
    border-radius: inherit;
    display: flex;
    justify-content: center;
}

.click-card {
    height: 100%;
    border-radius: inherit;
}

.click-card:hover {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
    cursor: pointer;
}

.click-card mat-card-actions {
    display: none;
    border-radius: inherit;
    padding: 0;
}

.click-card:hover mat-card-actions {
    display: block;
    /* background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)); */
}

@media (hover: none) {
    .click-card mat-card-actions {
        display: block;
    }
  }

.recipe-action {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 2px;
    border-radius: inherit;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
}

.recipe-action:hover {
    background-image: linear-gradient(rgba(256,256,256,.6), rgba(256,256,256,.6));
    color: black;
}

/* plus sign inside the "add new __" buttons */
.add-icon {
    font-size: 50px;
    height: 100%;
}

.add-icon mat-icon {
    display: flex;
    align-items: center;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 5px 0 green;
    }
    
    50% {
      box-shadow: 0 0 20px 0 green;
    }
  }
  
  .btn-glow {
    box-shadow: 0 0 5px 0 green;
    animation: glow 1.4s linear infinite;
  }

.recipe-card {
    width: 400px;
    height: 400px;
}

.item-card {
    width: 200px;
    height: 200px;
    position: relative;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)); */
    border-radius: inherit;
}

.card-buttons button {
    width: 49%;
    text-align: center;
    color: darkgreen;
    background: transparent;
    background-image: linear-gradient(rgba(256,256,256,.3), rgba(256,256,256,.3)) !important;
    border-radius: inherit;
    height: 2rem;
    font-size: 2rem;
    border: none;
}

.card-buttons button:hover {
    background-image: linear-gradient(rgba(256,256,256,.5), rgba(256,256,256,.5)) !important;
    cursor: pointer;
}

.card-buttons button:active {
    transform: scale(.9);
}

.edit-button {
    position: relative;
    bottom: 8px;
}

.dark-overlay {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    height: 100%;
    border-radius: inherit;
}

.rounded-image {
    border-radius: inherit;
}

/* for recipe filter button */
.inline {
    display: inline-block;
}

.quantity {
    width: 100px;
    margin: 0 20px;
}