/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Rubik, "Helvetica Neue", sans-serif;
}

section {
    margin: 0 2rem;
    padding-top: .01rem;
}

.green-gradient {
    background: linear-gradient(to right, rgb(228, 255, 226), rgb(255, 231, 161)) !important;
    margin: 0;
    width: 100%;
}

/* containers for recipe and item cards */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}

.mat-card-container {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 3rem;
    /* background-color: burlywood; */
}

.click-card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.card-buttons {
    display: flex;
    flex-direction: column;
}

/* plus sign inside the "add new __" buttons */
.add-icon {
    font-size: 50px;
    margin: auto;
}

.add-icon mat-icon {
    display: block;
}

/* indicates card is clickable */
.add-card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.example-card {
    color: white;
    background-size: cover;
    overflow: hidden;
    max-width: 400px;
}

.dark-overlay {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
    height: 100%;
    border-radius: inherit;
}

.inline {
    display: inline-block;
}