<div>
    <h1>My Recipes</h1>

    <div class="flex-container">
        <mat-card *ngIf="account.getSession().id !== null" class="add-card" (click)="openAdd()">
            <div class="add-icon">
                <mat-icon [inline]="true" color="accent">add</mat-icon>
            </div>
        </mat-card>
        <mat-card class="example-card" *ngFor="let recipe of account.getSession().recipes">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url({{recipe.image}});"></div>
                <mat-card-title>{{recipe.name}}</mat-card-title>
                <mat-card-subtitle>{{recipe.ingredients.length}} items</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngFor="let i of recipe.ingredients">{{i.item.name}}</p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>
</div>