<div *ngIf="account.getSession().id === null" class="account-buttons">
    <button mat-raised-button color="primary" (click)="openLogin()">Log In</button>
    <button mat-raised-button (click)="openRegister()">Register</button>
</div>
<div *ngIf="account.getSession().id !== null">
    <h1>My Recipes</h1>
    <div class="flex-container">
        <mat-card (click)="openAdd()">
            <div class="add-icon">
                <mat-icon [inline]="true" color="accent">add</mat-icon>
            </div>
        </mat-card>
        <div *ngFor="let recipe of account.getSession().recipes" class="recipe-card">
            <mat-card (click)="openRecipe(recipe)">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url({{recipe.image}});">
                    </div>
                    <mat-card-title>{{recipe.name}}</mat-card-title>
                    <span class="button-spacer"></span>
                    <mat-card-subtitle>{{recipe.ingredients.length}} ingredient(s)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-chip-listbox aria-label="ingredients of recipe">
                        <mat-chip *ngFor="let i of recipe.ingredients">
                          <img matChipAvatar src="{{i.item.image}}" alt="Photo of {{i.item.name}}"/>
                          {{i.item.name}}
                        </mat-chip>
                      </mat-chip-listbox>
                </mat-card-content>
            </mat-card>
            <button mat-icon-button color="primary" class="edit-button"
                        (click)="openEdit(recipe); $event.stopPropagation()"><mat-icon>edit</mat-icon></button>
        </div>
    </div>
</div>