/* see global styles.css */

/* indicates recipes are clickable */
mat-card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.recipe-card {
    position: relative;
}

.button-spacer {
    width: 30px;
    height: 30px;
}

.edit-button {
    position: absolute;
    right: 23px;
    top: 10px;
}